img{
    width: 15%;
    border-radius: 50%;

}

body{
    background-color: #782221;
    width: 1160px;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    background-color: #dbc2a4;
}
h4{
    background-color:#dbc2a4;
    border-left: 5px solid #782221 ;
    margin-right: 50px;
    margin-left: 25px;
}
.marg1{
    margin-left: 35px;
}
p{
    margin-left: 15px;
}
nav{
    background-color: #2c1d27;
    display: flex;
    justify-content: space-evenly;
    color:#2c1d27
    
    
}
.bandeau1{
    color:#dbc2a4;
}
#pic1{
    text-align: center;
    
}
#pic1:hover{
    transform: scale(2);
}
.container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.container2{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
}
main{
    display: flex;
    
}
.icone{
    text-align: center;
    opacity: 2;
}
.icone:hover{
    opacity:0.5;
}
